.gatos{
color:red;	
background-color:yellow;
padding:15px;
margin:30px;
width:400px;
height:300px;	
float:left;	
}

.caes{
color:blue;	
background-color:pink;
padding:15px;
margin:30px;
width:400px;
height:300px;
float:right;		
}

.rodape{
background-color:silver;
position:absolute;
bottom:0;
width:100%;
height:100px;
text-align:center;
line-height:100px;		
}

.imagem{
width:200px;
height:150px;	
	
}

.imagem2{
width:200px;
height:150px;	
	
}